<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> -->
</head>
<body>
 <!--  ===><span th:text=${article?.title}></span> -->
	
	<div class="container">
		<div class="page-header">
			<h1>게시글 등록</h1>
		</div>
		<br /> 
		<input id="id" type="hidden" th:value="${article?.articleNo}" /> 
		<input id="article_regdate" type="hidden" th:value="${article?.regdate}" />
		<!-- <input id="sysdate" type="hidden" th:value= "${#calendars.createNow()}" /> -->
		<table class="table">
			<tr>
				<th style="padding: 13px 0 0 15px">글제목</th>
				<td><input id="title" type="text"
					class="col-md-1 form-control input-sm" th:value="${article?.title}" />
				</td>
			</tr>
			<tr>
				<th style="padding: 13px 0 0 15px">생성날짜</th>
				<td>
					<div class="pull-left">
						<input type="text" readonly="readonly"
						class="col-md-1 form-control input-sm" th:value="${#calendars.format(article?.regdate, 'yyyy-MM-dd HH:mm')}" />
					</div>
				</td>
			</tr>
			<tr>
				<th style="padding: 13px 0 0 15px">작성자ID</th>
				<td>
					<div class="pull-left">
						<!--글번호를 파라미터로 가지고 있으면 본래의 글 작성자 이름이 보이고, 그렇지 않다면 세션으로 받는 memberId가 보이게. -->
						<!--처리되엇음.  -->
						<input th:if="${article?.articleNo}" type="text" readonly="readonly" 
						class="col-md-1 form-control input-sm" th:value="${article?.memberId}" />
						
						<input th:if="!${article?.articleNo}" id="userId" type="text" readonly="readonly"
						class="col-md-1 form-control input-sm" th:value="${authUser?.memberId}" />
					</div>
				</td>
			</tr>
			<tr>
				<th style="padding: 13px 0 0 15px">내용</th>
				<td>
					<textarea id="content" maxlength="100" rows="4" style="height:90px"
					class="col-md-1 form-control input-sm" th:text="${article?.content}" >
					</textarea>
					<span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>
		<div class="pull-left">
			<a href="/article/list" class="btn btn-default">목록으로</a>
		</div>
		<div class="pull-right">
		<!-- 멤버아이디 세션이랑 같다면 수정삭제버튼이 보이도록 해야됨 -->
			<button th:if="!${article?.articleNo}" type="button" class="btn btn-primary" id="insert">저장</button>
			<button th:if="${article?.articleNo}" type="button" class="btn btn-info" id="update">수정</button>
			<button th:if="${article?.articleNo}" type="button" class="btn btn-danger" id="delete">삭제</button>
		</div>
		
	</div>
	<!-- <div th:replace="layout/footer::footer" /> -->
	
	<script th:if="!${article?.articleNo}">
		$('#insert').click(function(){
			var jsonData=JSON.stringify({
				title:$('#title').val(),
				/* category:$('#category').val(), */
				memberId:$('#userId').val(),
				content:$('#content').val()
			});
			$.ajax({
				url:"http://localhost:9080/article/insert",
				type:"POST",
				data:jsonData,
				contentType:"application/json",
				dataType:"json",
				success:function(){
					alert('저장 성공');
					location.href='/article/list';
				},
				error:function(){
					alert(jsonData),
					alert('저장 실패');
				}
			});
		});
		
	</script>
	<!-- th:if="${article?.articleNo}" -->
	<script >
		
		$('#update').click(function(){
			var update=JSON.stringify({
				title:$('#title').val(),
				memberId:$('#userId').val(),
				content:$('#content').val()
		
			});
			$.ajax({
				url:"http://localhost:9080/article/update/"+$('#id').val(),
				type:"PUT",
				data:update,
				contentType:"application/json",
				dataType:"json",
				success:function(){
					alert('수정 성공!');
					location.href='/article/list';
				},
				error:function(){
					alert(this.url);
				}
			});
		});
	
		$('#delete').click(function(){
			$.ajax({
				url:"http://localhost:9080/article/delete/"+$('#id').val(),
				type:"DELETE",
				success:function(){
					alert('삭제 성공!');
					location.href='/article/list';
				},
				error:function(){
					alert('삭제실패');
				}
			});
		});
	</script>
</body>
</html>