<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
test hello입니다.

<span th:text="${userVO.id}">abc</span> 

<!-- 아래의 테이블과 insert 하나 실행하시고 켜보시면 돼요. 아니면 그냥 스판태그있는거 주석처리하시면 됩니다..

system으로 접속

1. 계정을 만듭니다.

create user user02 identified by 1234;

2. 접속 권한 부여합니다.

grant create session to user02;

grant create table to user02;

3.테이블 스페이스 설정

alter user user02 quota 50m on users;

grant unlimited tablespace to user02;

CREATE TABLE tbl_user(
	id varchar(40) NOT NULL,
	username varchar(45) NOT NULL,
	password varchar(45) NOT NULL
);

 insert into tbl_user values('test4','jpub','qwer1234');
 -->
</body>
</html>
