@charset "UTF-8";
 div, ul, li {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:0;margin:0}
a {text-decoration:none;}

.quickmenu {position:absolute;width:300px;height:20;bottom:10%;margin-top:1px;right:10px;background: #242943;}
.quickmenu table {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul td {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;*display:inline;}
.quickmenu ul td a {position:relative;float:left;width:100%;height:30px;line-height:50px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul td a:hover {color:#000;}
.quickmenu ul td:last-child {border-bottom:0;}

.content {position:relative;min-height:300px;} 